*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold: 900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent: #16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --fs-sub:1.7rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.1255em 0.125em 0.25em rgba(0,0,0,.15);

    /*
vai definir as variaveis de font primaria e secundaria para usar no projeto

ff = font family
fw = font weight
clr= cor
bg = background
accent = higlight destaque
fs= font size
bs= box shadow

*/
}
@media ( min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size:var(--fs-body);
    line-height: 1.6;
}
section {
    padding-top: 5em;
    padding-right:2em ;
    padding-left:2em ;
    padding-bottom:5em ;
}
img{
    display: block;
    max-width: 100% ;
}
strong { font-weight: var(--fw-bold) }

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px ;
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 1em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none ;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    -moz-transition: transform 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}


h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
.nav-logo{
    width: 20vh;
}

.section-title {
    margin-bottom: .25em;

}
.section-title-intro{
    font-weight: var(--fw-reg);
}
.section-title-intro strong{
    display: block;
}
.section-subtitle {
    margin: 0;
    font-size:var(--fs-h3);
}
.section-subtitle-intro,
.section-subtitle-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom:1em ;
    padding: .25em 1em ;

}
.section-subtitle-intro{
    font-weight: var(--fw-reg);
    letter-spacing: .1em;
    font-size: var(--fs-sub);
    text-align: center;
    text-transform: uppercase;
}
/* header */
nav {
    display: none;
}


/*  Intro section  */

.intro {
    position: relative;
}
.intro-img{
    width: 250px;
    height: 250px;
    box-shadow: var(--bs);
}

/* as medias queries geralmente sao usadas de forma generica com 300+ ,600+ e 900 + */

@media (min-width:600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap:1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        margin: 0;
    }
    .section-subtitle-intro{

        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width:calc(100% + 1.5em) ;
    }
}

/*  My services section  */
.my-services {
    background-color:var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size:cover;
    background-blend-mode: overlay;
    color: var(--clr-light);
    text-align: center;
}
 
.section-title-services{
    color: var(--clr-accent);
    position: relative;
}

.section-title-services::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: .5em auto 1em;
    background-color: var(--clr-light);
    opacity: .3;
}
.services{
    margin-bottom: 4em;
}
.service{
    max-width: 500px;
    margin:0 auto;
}

@media (min-width:800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin-left:auto;
        margin-right: auto;
    }
    .service + .service {
        margin-left:2em;
    }
}
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me-img{
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        'title img'
        'subtitle img'
        'text img';
        grid-column-gap: 2em;
    }
    .section-title-about{
        grid-area:title ;
    }
    .section-subtitle-about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        text-align: center;
        padding-left: 2em;
        padding-right: calc(200px + 2em);
    }
    .about-me-img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}